__pycache__
.spyproject
Anagramas - Hackaton UP - Luciano Galicki.py
Eleição.txt
palavras.82eebac6.txt
.idea/
temp.py
json_api_csv.csv
test1.bin
test1.json
HDI x Per capita income.html
TSLA x ETH.html
email.db
